<section class="home-main tbar">

<ion-header class="ion-padding">
  <ion-toolbar>
    <div class="logo">
      <img src="../../assets/logo.svg" alt="Logo Selebanco" width="300px">
    </div>
    <ion-breadcrumbs>

      <ion-breadcrumb (click)="presentAlert()">Home</ion-breadcrumb>
      <ion-breadcrumb>Busca valor ação</ion-breadcrumb>
    </ion-breadcrumbs>

    <ion-title>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-row class="ion-justify-content-center">
    <ion-button (click)="getStockDetails()" type="button-block" name="search" fill="outline">Buscar dados</ion-button>
    <ion-button (click)="clearSearch()" type="button-block" name="clear" fill="outline">Limpar busca</ion-button>
  </ion-row>

  <ion-row class="ion-justify-content-center">

    <h2>Insira a sigla da empresa desejada</h2>
    <input type="text" (input)="handleInputChange($event)" class="form-control p2" [(ngModel)]="symbolStock"
      [ngbTypeahead]="search" [resultFormatter]="formatResult" [inputFormatter]="formatInput" />
  </ion-row>

  <ion-row class="ion-justify-content-center result-cards">
    <ion-col>
   
  

      <ion-card *ngFor="let data of filteredData">
        <ion-card-header>
          <ion-card-title> <ion-button slot="start" color="light">{{ data.date }} </ion-button></ion-card-title>
          <ion-card-subtitle><strong>Dt. abertura: </strong> {{ data.open }}</ion-card-subtitle>
          <ion-card-subtitle>Dt. Máxima: {{ data.high }} </ion-card-subtitle>
          <ion-card-subtitle>Dt. fechamento: {{ data.close}}</ion-card-subtitle>
          <ion-card-subtitle>Quantidade Dividendo: {{ data.dividendAmount }}</ion-card-subtitle>
          <ion-card-subtitle>Coeficiente de Div:   <ion-button slot="end"> {{ data.splitCoefficient }} </ion-button> </ion-card-subtitle>
        </ion-card-header>
      
      </ion-card>


    </ion-col>
  </ion-row>
</ion-content>

<ion-row>
  <ion-col>
    <ion-accordion-group>
      <ion-accordion value="first">
        <ion-item slot="header" color="light">
        
          <ion-label>Dúvidas?</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">Digite o campo abaixo alguma sigla tipo "AAC" que representa Ares
          Acquisition Corporation,
          para então ver os dados da mesma.
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </ion-col>
</ion-row>

<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-title>Allan Seleguim 2023</ion-title>
  </ion-toolbar>
</ion-footer>
</section>